body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }
  
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*adds flex to cards, makes them display in a coloum and adds some styling*/
  }

  .emojis {
    padding: 15px;
    padding-bottom: 15px;
    display: grid;
    flex-direction: column;
    gap: 15px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
    "icon1 icon2"
    "icon1 icon2"
    "icon3 icon4"
    "icon3 icon4"
    /*gives display of grid so that grid areas can be assigned, adds in grid template and some style*/
  }

  .icon:nth-child(1) { grid-area: icon1; }
  .icon:nth-child(2) { grid-area: icon2; }
  .icon:nth-child(3) { grid-area: icon3; }
  .icon:nth-child(4) { grid-area: icon4; }
  /*assigns a grid area name for each icon*/

  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
    margin-top: 0;
    order: 1;
    text-align: center;
    /*gives h2 an order to display in, centers and adds style*/
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    order: 3;
    /*gives the button the lowest position and adds premade style*/
  }
  
  .emoji span {
    text-align: center;
    order: 0;
    font-size: 4rem;
    /*sets size of emoji, centers and gives it the highest postion*/
  }

  .emoji p {
    padding-bottom: 20px;
    order: 2;
    /*gives order to paragraphs and adds spacing to the bottom*/
  }
